@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.section-nos{
	width: 100%;
	min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.034);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
    color: rgb(75, 6, 132);
    text-align: center;
}

.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
    text-align: center;
	color: black;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: rgb(75, 6, 132);
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #fff;
	color: black;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#000;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:rgb(75, 6, 132);
}
