// Productos

.let{
    color: rgb(75, 6, 132);
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.cont-pro{
    box-sizing: border-box;
    width: 100%;
    height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
}

.container-pro{
    width: 90%;
    height: 100%;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.container-pro .card-pro{
    width: 270px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
    border: 3px solid rgb(75, 6, 132);
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    background-color: #fff;
}

.container-pro .card-pro .pro-image{
    width: 230px;
    margin: 20px auto;
}

.container-pro .card-pro .pro-image img{
    width: 100%;
    transition: 0.4s;
}

.container-pro .card-pro .pro-image img:hover{
    transform: scale(1.1);
}

.container-pro .card-pro .pro-info h4{
    font-size: 18px;
    padding: 0 25px;
    margin-bottom: 10px;
}

.container-pro .card-pro .btn-pro{
    width: 100%;
}

.container-pro .card-pro .btn-pro button{
    width: 100%;
    padding: 10px;
    background: rgb(75, 6, 132);
    border: 1px solid gray;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 0 15px 15px;
}